.nmde-think {
  background-color: #ffa726;
  width: 25px;
  height: 25px;
  -webkit-clip-path: circle(25% at 50% 50%);
  clip-path: circle(25% at 50% 50%);
  transition-property: transform, left;
  transition-duration: 250ms, 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 1, 1);
  transform: translateY(0);
  position: absolute;
  bottom: -8px;
}

.nmde-think.up {
  transform: translateY(-20px);
}

.nmde-think.down {
  transform: translateY(20px);
}
