div
  template(v-if="loading")
    md-progress(:md-progress="progress")
    p
      span {{completed}} / {{total}}
      i &nbsp;(This may take several minutes)
  template(v-else-if="done")
    h2 Import Report
    p Completed with {{errors.length}} errors
    code(v-for="(error, key) in errors",:key="key") {{error}}
  template(v-else)
    h1 CSV Tools
    md-button.md-primary.md-raised(@click="importCSV") Import CSV
    md-dialog(ref="importDialog")
      md-dialog-title Import CSV
      md-dialog-content
        md-button(@click="selectFile") Select File
        p File: {{file}}
        md-checkbox(v-model="hasHeader") Has Header
        md-table
          md-table-body
            md-table-row
              md-table-cell Quantity
              md-table-cell
                md-input-container
                  label Column #
                  md-input(type="number",v-model="quantityCol",:min="0")
            md-table-row
              md-table-cell Name
              md-table-cell
                md-input-container
                  label Column #
                  md-input(type="number",v-model="nameCol",:min="0")
            md-table-row
              md-table-cell Set
              md-table-cell
                md-input-container
                  label Column #
                  md-input(type="number",v-model="setCol",:min="0")
            md-table-row
              md-table-cell Foil?
              md-table-cell
                md-input-container
                  label Column #
                  md-input(type="number",v-model="foilCol",:min="0")
      md-dialog-actions
        md-button(@click="cancelImport") Cancel
        md-button.md-raised.md-primary(@click="importStage1") Import
    md-dialog(ref="previewDialog")
      md-dialog-title Import Preview
      md-dialog-content
        md-table
          md-table-header
            md-table-row
              md-table-head Quantity
              md-table-head Name
              md-table-head Set
              md-table-head Foil
          md-table-body
            md-table-row(v-for="n in 3",:key="n")
              md-table-cell {{parsed[n-1][quantityCol]}}
              md-table-cell {{parsed[n-1][nameCol]}}
              md-table-cell {{parsed[n-1][setCol]}}
              md-table-cell {{parsed[n-1][foilCol]}}
      md-dialog-actions
        md-button(@click="cancelImport") Cancel
        md-button.md-raised.md-primary(@click="importStage2") Continue
  md-dialog(ref="chooseSetDialog",:md-click-outside-to-close="false")
    md-dialog-title Manual Set Code
    md-dialog-content
      p The program could not automatically determine the set code for {{manualSetName}}.
      p Please select the correct set code below:
      md-button.md-primary(v-for="(set, key) in setCodeResults.sets",:key="key",@click="setChoice(set.code)") {{set.code}}
