md-card.mtg-set
  md-card-header
    md-card-header-text
      div.md-title {{set.name}}
      div.md-subhead {{set.uniqueCount()}} / {{set.cardCount}} Collected
    md-card-media
      img(:src="set.iconURI")
  md-card-content
    md-progress(:md-progress="progress")
  md-card-actions
    md-button.md-raised.md-primary(@click="edit") Edit Set
