md-card.mtg-set(md-with-hover,@click.native="edit")
  md-card-header
    md-card-header-text
      div.md-title {{set.name}}
      div.md-subhead {{set.uniqueCount()}} / {{set.cardCount}} Collected - ${{set.totalPrice()}}
    // md-card-media
      img(:src="set.iconURI")
  md-card-content
    md-progress(:md-progress="progress")
