.mtg-set {
  padding: 8px;
  border-bottom: 1px solid #eeeeee;
  max-width: 275px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.mtg-set img {
  width: 18px;
  margin-right: 4px;
}
