md-card.mtg-set(md-with-hover,@click.native="viewSet")
  md-card-header.set-header
    md-card-header-text
      div.md-title {{set.getName()}}
  md-card-content
    md-progress(:md-progress="progress")
