md-card.mtg-set
  md-card-header
    md-card-header-text
      div.md-title {{name}}
      div.md-subhead 0 / {{cardCount}} Collected
    md-card-media
      img(:src="icon")
  md-card-content
    md-progress(:md-progress="progress")
  md-card-actions
    md-button.md-raised.md-primary(@click="edit") Edit Set
