div
  h1 Settings
  md-button.md-raised(@click="backup") Backup Collection
  md-button.md-raised.md-warn(@click="reset") Reset Collection
  md-dialog(ref="confirmResetDialog")
    md-dialog-title Confirm Reset?
    md-dialog-content
      p Are you sure you want to reset your collection?
      md-checkbox(v-model="backupBeforeReset") Create backup
    md-dialog-actions
      md-button(@click="abandonReset") Cancel
      md-button.md-raised.md-warn(@click="confirmReset") Confirm & Reset
