.mtg-block {
  box-shadow: 0px 4px 8px 0px rgba(33, 33, 33, 0.5);
  width: 240px;
  height: 130px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out;
}

.mtg-block:hover {
  box-shadow: 0px 8px 16px 0px rgba(33, 33, 33, 0.5);
}

.mtg-block h2 {
  text-align: center;
}

.sets {
  overflow-y: scroll;
  max-height: 250px;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nmde-menu .name-container {
  height: 130px;
}
