div
  h1 {{set.name}}
  h2.md-subhead {{collection.cards.length}} / {{set.cards.length}} - {{complete}}% collected
  md-progress(:md-progress="complete")
  md-table(md-sort="name",@sort="onSort")
    md-table-header
      md-table-row
        md-table-head(md-sort-by="name") Name
        md-table-head(md-sort-by="quantity") Quantity
        md-table-head(md-sort-by="foil") Foil
    md-table-body
      md-table-row(v-for="(card, key) in cardList",:key="key")
        md-table-cell {{card.name}}
        md-table-cell {{collection.findCard(card.name).quantity}}
        md-table-cell {{collection.findCard(card.name).foilQuantity}}
