md-card
  md-card-header
    md-toolbar.md-transparent(md-elevation="0")
      .md-title {{title}}
      .md-toolbar-section-end
        .md-subhead ${{sum()}}
  md-card-content
    md-autocomplete(v-model="becomingCard.name",:md-options="searchResults",@md-changed="autocomplete",@md-selected="fetchPrintings(becomingCard)")
    .fields
      md-field
        md-select(v-model="becomingCard.printing")
          md-option(v-for="(printing, key) in becomingCard.printings",:key="key",:value="printing.code") {{printing.code}}
      .quantity
        md-button.md-primary.md-icon-button(@click="becomingCard.quantity -= 1")
          md-icon remove
        p {{becomingCard.quantity}}
        md-button.md-primary.md-icon-button(@click="becomingCard.quantity += 1")
          md-icon add
    md-button.md-raised.md-primary(@click="addCard()") Add Card
    md-table(md-card)
      md-table-row
        md-table-head Name
        md-table-head Printing
        md-table-head Quantity
        md-table-head Condition
        md-table-head Price
      md-table-row(v-for="(card, key) in leg.cards",:key="key")
        md-table-cell
        md-table-cell
        md-table-cell {{card.quantity}}
        md-table-cell NM
        md-table-cell ${{card.marketPrice}}
