.page
  .header
    h1.title(:style="{ 'background-image': gradient }") Database
    nmde-thinking(ref="loadingIndicator")
  .blocks
    mtg-block(v-for="(block, key) in blocks()",:key="key",:block="block")
