.header {
  display: flex;
  align-items: baseline;
}

.header .nmde-thinking {
  margin-left: 8px;
}

.title {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
