.database
  .content
    .sets
      md-list.md-triple-line
        md-list-item(v-for="(set, code) of sets",:key="code",@click="open(code)")
          md-avatar
            img(:src="set.icon")
          .md-list-item-text
            .md-title {{set.name}}
            .md-subhead 13 / 50
            md-progress-bar(:md-value="45")
