body {
  margin: 0;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.red {
  color: #F44336;
}

.gray {
  color: rgba(0, 0, 0, 0.87);
  font-style: italic;
}

.green {
  color: #4CAF50;
}

.md-menu-content {
  z-index: 110;
}
