nmde-app
  nmde-toolbar(title="Collection Toolkit")
    router-link(to="/csv") CSV Tools
    router-link(to="/database") Database
    router-link(to="/settings") Settings
    router-link(to="/trades") Trades
  router-view
