div
  md-toolbar
    router-link.md-title(tag="h2",to="/",style="flex:1") MTG Collection Toolkit
    router-link(tag="md-button",to="/database") Database
    router-link(tag="md-button",to="/trades") Trades
    router-link(tag="md-button",to="/csv") CSV Tool
    router-link.md-icon-button(tag="md-button",to="/settings")
      md-icon settings
  .page
    router-view
  md-snackbar(ref="notification",md-position="bottom left")
    span {{notification}}
