.app
  dashboard-item(title="Recent Gains")
  dashboard-item(title="Recent Trades")
    md-button.md-icon-button(@click="tradeDialogOpen = true",slot="menu")
      md-icon add
  dashboard-item(title="Wishlist")
  md-dialog(:md-active.sync="tradeDialogOpen")
    md-dialog-title Add Trade
    md-tabs(md-alignment="fixed")
      md-tab(md-label="My Items")
        md-table
          md-table-row
            md-table-head Name
            md-table-head Printing
          md-table-row
            md-table-cell
              md-autocomplete(v-model="myItem.name",:md-options="cardResults",@md-changed="autocomplete",@md-selected="fetchPrintings()")
                label Card Name
                template(slot="md-autocomplete-item",slot-scope="{ item }") {{item}}
            md-table-cell
              md-field
                md-select(v-model="myItem.set",placeholder="Set")
                  md-option(v-for="(printing, key) in myItem.printings",:key="key",:value="printing.code") {{printing.name}}
      md-tab(md-label="Their Items")
        p Tab Content 2
