div
  h1 Trades
  md-button.md-primary(@click="addTradeDialog = true") Add Trade
  .trades
    md-card.trade(md-with-hover,v-for="(trade, key) in trades",:key="key")
      md-ripple
        md-card-header
          .md-title {{trade.date}}
          .md-subhead.red -$5.00
  md-dialog(:md-active.sync="addTradeDialog")
    md-dialog-title Add Trade
    md-tabs(md-alignment="fixed")
      md-tab(md-label="My Cards")
        md-button.md-icon-button(@click="addMyCard()")
          md-icon add
        md-table
          md-table-row
            md-table-head Name
            md-table-head Printing
          md-table-row(v-for="(card, key) in newTrade.myCards",:key="key")
            md-table-cell
              md-autocomplete(v-model="card.name",:md-options="autocomplete",@md-changed="fetchCardNames",@md-selected="fetchCardPrintings(card)")
                label Card Name
                template(slot="md-autocomplete-item",slot-scope="{ item }") {{item}}
            md-table-cell
              md-field
                md-select(placeholder="Printing",v-model="card.printing")
                  md-option(v-for="(printing, key) in card.printings",:key="key",:value="printing.code") {{printing.name}}
      md-tab(md-label="Their Cards")
        md-button.md-icon-button(@click="addTheirCard()")
          md-icon add
        md-table
          md-table-row
            md-table-head Name
            md-table-head Printing
          md-table-row(v-for="(card, key) in newTrade.theirCards",:key="key")
            md-table-cell
              md-autocomplete(v-model="card.name",:md-options="autocomplete",@md-changed="fetchCardNames",@md-selected="fetchCardPrintings(card)")
                label Card Name
                template(slot="md-autocomplete-item",slot-scope="{ item }") {{item}}
            md-table-cell
              md-field
                md-select(placeholder="Printing",v-model="card.printing")
                  md-option(v-for="(printing, key) in card.printings",:key="key",:value="printing.code") {{printing.name}}
    md-dialog-actions
      md-button.md-primary.md-raised(@click="trade()") Add Trade
