div
  h1 Trades
  md-button.md-raised.md-primary(@click="addTrade()") Add Trade
  p {{$store.state.trades}}
  md-dialog(ref="addTradeDialog")
    md-dialog-title Add Trade
    md-dialog-content
      .trade-lists
        trade-list(label="My Cards",v-model="myCards")
        trade-list(label="Their Cards",v-model="theirCards")
    md-dialog-actions
      md-button.md-raised.md-primary(@click="submitTrade()") Add Trade
