div
  h1 Import from CSV
  md-input-container
    label File
    md-file(@selected="updatePath")
  md-button.md-primary.md-raised(@click="start") Import
  h3 Headers
  md-table
    md-table-header
      md-table-row
        md-table-head Heading
        md-table-head Assignment
    md-table-body
      md-table-row(v-for="(header, index) in headers",:key="index")
        md-table-cell {{header}}
        md-table-cell
          md-input-container
            label Select Role
            md-select(:name="header",v-model="headerOptions[index]")
              md-option(value="name") Name
              md-option(value="quantity") Quantity
              md-option(value="set") Set
              md-option(value="condition") Condition
              md-option(value="foil") Foil
              md-option(value="") (Ignore)
  md-button.md-primary.md-raised(@click="build") Build
