md-card
  md-card-header
    div.md-title {{card.name}}   
    div.md-subhead {{card.setName}}
  md-card-content
    md-layout(md-align="center",md-gutter="8")
      md-layout(md-flex="50")
        md-input-container
          label Quantity
          md-input(type="number",v-model="card.quantity")
      md-layout(md-flex="50")
        md-input-container
          label Foil
          md-input(type="number",v-model="card.foilQuantity")
