.add
  md-toolbar
    md-button.md-icon-button(@click="backDialog = true")
      md-icon arrow_back
    h1.md-title Add Transaction
    .md-toolbar-section-end
      md-button.md-raised.md-primary(@click="save()") Save Transcation
  .content
    leg(title="My Items",v-model="trade",:index="0",:greater="trade.isGreater(0)")
    leg(title="Their Items",v-model="trade",:index="1",:greater="trade.isGreater(1)")
  md-dialog(:md-active.sync="backDialog")
    md-dialog-title Unsaved Changes
    .dialog-content Your trade has not been saved. Are you sure you want to continue?
    md-dialog-actions
      md-button(@click="backDialog = false") Cancel
      router-link.md-accent(tag="md-button",to="/trades") Continue
